* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
.app {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px 20px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(197, 21, 21, 0.3);
  color: #1f2544;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.timer-input {
  width: 100%;
  padding: 1rem 1rem;
  font-size: 24px;
  border: none;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
  border-radius: 8px;
  outline: none;
  color: #1f2544;
}

.button {
  margin-right: 1rem;
  padding: 15px 40px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  background-color: #1f2544;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  transition: border-color 0.25s;
}
.button:hover {
  background-color: #81689d;
  color: #fff;
}
.button:focus {
  border: none;
  outline: none;
}
.timer-controls {
  margin-top: 20px;
}
.timer-display {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

@media (max-width: 375px) {
  .app {
    padding: 10px 10px;
  }

  .button {
    margin: 0.3rem;
  }
}
